* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  font-family: serif, "Times New Roman", Times;
}

label,
input {
  display: block;
}

input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: 0.4em;
}

fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

.ui-dialog .ui-state-error {
  padding: 0.3em;
}

#fetch-progress .ui-progressbar-value {
  background-color: rgb(132, 231, 52);
}

